@import url( 'https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
* {
    font-family: "Source Sans 3", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.container {
    max-width: 1728px;
    width: 100%;
    margin: auto;
    padding: 0 clamp(10px,5%,103px);
    /* border: 1px solid red; */
}
.mw-625 {
    width: 100%;
    max-width: 625px;
}
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* ==================================================== Top Specialist CSS CODE IS STSERT ================ */
.text-center {
    text-align: center;
}
.fw-400 {
    font-weight: 400;
}
.fw-500 {
    font-weight: 500;
}
.fw-600 {
    font-weight: 600;
}
.fw-700 {
    font-weight: 700;
}
.fs-45-32 {
    font-size: 45px;
    line-height: 70px;
}
.fs-24-18 {
    font-size: 24px;
    line-height: 30px;
}
.fs-20-14 {
    font-size: 20px;
    line-height: 28px;
}
.fs-16-12 {
    font-size: 16px;
    line-height: 22px;
}
.black-50 {
    color: rgba(0, 0, 0,5);
}
.primary-btn {
    border: none;
    outline: none;
    border-radius: 5px;
    min-width: 150px;
    padding: 10px 16px;
    color: white;
    font-weight: 600;
    background-color: #5284B5;
}
.arrow-frame-wrapper{
    position: relative
}
.specialist-doctors-frame {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 60px 0;
    overflow: auto;
  ;
}
.specialist-doctors-frame::-webkit-scrollbar {
    appearance: none;
}
.arrowleft{
    position: absolute;
    z-index: 8;
    left: -40px;
    top: 50%;
    cursor: pointer;
    transform: translateY(-50%);
}
.arrowright{
    position: absolute;
    z-index: 8;
    right: -40px;
    top: 50%;
    cursor: pointer;
    transform: translateY(-50%);
}
.card-box {
    width: 25%;
    max-width: 366px;
    min-width: 290px;
    /* width: clamp(300px,25%,366px); */
    padding: 13px;
    
    border: 1px solid #1CB5BDD9;
}
.img-box {
    width: 100%;
    height: 177px;
    position: relative;

}
.img-box > .image {
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.img-box > .reating {
    position: absolute;
    right: 20px;
    top: 20px;

}
.name-heading {
    padding-top: 24px;
}
.first-para {
    padding: 4px 0 20px;
}
.sec-para {
    padding: 10px 0;
}
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}
/* ==================================================== Top Specialist CSS CODE IS END ================ */
/*  */
/*  */
/*  */
/*  */
/*  */
/* =================================== Testimonials CSS CODE START ================================ */

.p-10{
    padding: 10px 0 10px 20px;
}
.p-20{
    padding: 20px;
}
.pl-20{
    padding-left: 20px;
}
.mt-20{
    margin-top: 20px;
}
.m-10{
    margin: 10px;
}
.fs-20-14 {
    font-size: 20px;
    line-height: 28px;
}
.container2{
    max-width: 1728px;
    width: 100%;
    display: flex;
    margin: auto;
    /* border: 1px solid black; */
    flex-direction: column;


}
.testimonials-container{
max-width: 700px;

}
.testimonials-heading{
    font-size: 36px;
    font-weight: 600;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: left;
    
}
.testimonials-para{
    font-size: 24px;
    font-weight: 400;
     max-width: 650px;
    color: #787878;

}
.indicators{
    max-width: 741px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.elipse-container{
    width: 216px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.elipse{
    background: #E9F7F8;
    height: 15px;
    width: 15px;
    border-radius: 50%;

}
.rectangle{
    background: #5284B5;
   width: 32px;
   height: 15px;
   border-radius: 5px;
}
.members-container{
    display: flex;
    overflow: auto;
    padding: 20px 20px 40px 20px;
    overflow-y: hidden;
    /* max-height: 600px; */


}
.individual-member{
    background: #E9F7F8;

    min-width: 341.3px;
    height: 345.5px;
    padding:  70px 40px;
    border-radius: 0px 150px 150px 150px;
       margin: 5px 20px 5px 0;
    
       position: relative;
}
.member-info{
font-size: 20px;
font-weight: 400;
line-height: 25px;


}
.member-name{
    font-size: 20px;
    font-weight: 600;
    padding: 5px 0 0 65px;
}
.member-prof{
    font-size: 16px;
    font-weight: 400;
    padding: 5px 0 10px 65px;
}
.member-profile{
position: absolute;
right: 0px;
bottom: -40px;
}
/* .members-container::-webkit-scrollbar {
    appearance: none;
} */


/* =================================== Testimonials CSS CODE END ================================ */
