* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: "Source Sans Pro", monospace;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

#doc-feature {
  background: #5284b5;
  max-width: 1728px;
  color: #e9f7f8;
  width: 100%;
}
.doc-main-container {
  padding: 3rem;
}
.doc-container {
  display: flex;
  /* background-color: red; */
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  column-gap: 34px;
}
.feature-title {
  margin: 0 auto;
  width: 80%;
  color: #e9f7f8;
  font-size: 36px;
  font-weight: 600;
  line-height: 45px;
}

.doc-card {
  max-width: 367px;
  height: 360px;
  margin-top: 40px;
  padding: 15px;
  border: 1px solid rgba(233, 247, 248, 0.5);
  border-radius: 5px;
}

.doc-card:hover {
  max-width: 367px;
  height: 360px;
  margin-top: 40px;
  padding: 15px;

  font-size: 24px;
  transform: scaleX(1.04) scaleY(1.06); /* Adjusted */
  transform-origin: top left; /* Added */
  z-index: 4;

  transition: all ease-in-out 0.2s;
}
.doc-card:hover .card-img > img {
  width: 80px;
  transition: all ease-in-out 0.2s;
  height: 80px;
}
.doc-card:hover .card-title {
  transition: all ease-in-out 0.2s;
  padding-top: 20px;
  font-size: 28px;
}
.doc-card:hover .card-content > p {
  font-size: 20px;
  transition: ease-in-out 0.2s;
}

.card-top {
  padding: 20px 0 20px 10px;
  display: flex;
  justify-content: start;
  /* align-items: center; */
}
.card-img > img {
  width: 70px;
  height: 70px;
}
.card-title {
  padding: 10px 0 0 5px;
  font-weight: 600;
  line-height: 30px;
  font-size: 24px;
  text-transform: capitalize;
}
.card-content {
  max-width: 323px;
  height: 140px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-content > p {
  /* overflow-y: scroll; */
  text-overflow: ellipsis;
  max-width: 280px;
  padding: 10px 0 10px 0;

  /* text-overflow: hidden; */
  font-family: "Source sans Pro";
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(233, 247, 248, 0.85);
}
.card-bottom {
  padding-bottom: 5rem;
  width: fit-content;
  margin-top: 5px;
}
.card-bottom > a {
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
}
